.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--transparent-bg);
    height: var(--header-height);
    color: var(--white);
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo {
    color: var(--red);
    font-size: 2rem;
    font-weight: bold;
}

.search-container {
    width: 40%;
    text-align: right;
    position: relative;
}

.search-input {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--black);
    color: var(--grey-text);
}

.header-buttons-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.theme-buttons {
    background-color: var(--black);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--grey);
}

.theme-icon {
    font-size: 36px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

.theme-icon-active {
    background-color: var(--red);
    border-radius: 50%;
    padding: 0;
}

.header-light {
    background-color: var(--light-bg);
}

.create-account {
    background-color: var(--red);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: var(--white);
}