.homepage-container {
    margin-top: var(--header-height);
    color: var(--white);
    min-height: 100vh; 
    padding-bottom: 20px;
}

.movies-wrapper {
    margin-top: 20px;
    display: flex;
    padding: 20px;
}

.popular-container { 
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.popular-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.top-rated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: fit-content;
}

.top-rated-cards-wrapper {
    display: flex;
    flex-wrap: wrap; 
    border-radius: 8px; 
    margin-top: 20px;
    box-shadow: -11px 2px 33px 1px rgba(8,7,7,0.75);
    -webkit-box-shadow: -11px 2px 33px 1px rgba(8,7,7,0.75);
    -moz-box-shadow: -11px 2px 33px 1px rgba(8,7,7,0.75);
}
